.streak-table {
    @apply border-t-2 border-[#f0f0f0] dark:max-md:border-[#111827] md:border-t-0;

    .cell-mon, th:nth-child(1), td:nth-child(1) {
        border-left: 2px solid #f0f0f0;
        @apply pl-[2px] sm:pl-[20px] md:pl-[30px] dark:max-md:border-[#111827];
    }

    .cell-sun, th:nth-child(7), td:nth-child(7) {
        border-right: 2px solid #f0f0f0;
        @apply pr-[2px] sm:pr-[20px] md:pr-[30px] dark:max-md:border-[#111827];
    }

    .cell-streak, th:nth-child(8), td:nth-child(8) {
        padding-left: 30px;
        padding-right: 15px;
    }

    th {
        @apply pt-[5px] sm:pt-[12px] md:pt-[0px];
    }

    tr:nth-child(5) td {
        @apply pb-[7px] sm:pb-[10px] md:pb-[0px];
    }
}

.bg-light-blue-hover:hover {
    background-color: #6387bc;
    color: white;
}

.bg-streak-blue {
    background-color: #6387bc;
}